on: push
name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ftp.mediatek-mediatheque-fakiri.online
        server-dir: /home/u571651200/domains/mediatek-mediatheque-fakiri.online/public_html/
        username: u571651200.yassine
        password: ${{ secrets.ftp_password }}
